<h1>下書き一覧</h1>
<%= link_to "新規登録" , new_post_path, method: :get %>
<ul>
  <% @posts.each do |post| %>
      <li>
        <%= post.tool_name %>
        <%= link_to "編集" , edit_post_path(post.id), method: :get %>
        <%= link_to "削除" , post_path(post.id), method: :delete, data: {confirm: "削除しますか？"}  %>
      </li>
  <% end %>
</ul>